<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href=<%= root_path %> class="nav-link px-2 text-white">Home</a></li>
		      <li><a href=<%= about_index_path %> class="nav-link px-2 text-white">About</a></li>
          <li><a href=<%= anime_index_path %> class="nav-link px-2 text-white">Animes</a></li>
          <li><a href=<%= types_index_path %> class="nav-link px-2 text-white">Types</a></li>
          <li><a href=<%= genres_index_path %> class="nav-link px-2 text-white">Genres</a></li>
          <li><a href=<%= users_index_path %> class="nav-link px-2 text-white">Users</a></li>
        </ul>



        <%= form_with(url: search_anime_index_path, method: :get, local: true) do %>
        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 float-right">
          <div class="input-group">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search" name="keywords"/>

            <label class="input-group-text" for="searchCategory">Type</label>
            <select id="searchCategory" class="form-control form-control-dark" name="type">
              <option value="">All</option>
              <% Type.all.each do |type| %>
              <option value="<%= type.id %>"><%= type.name %></option>
              <% end %>
            </select>

          </div>
        </form>
        <% end %>




      </div>
    </div>
</header>