<header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href=<%= root_path %> class="nav-link px-2 text-white">Home</a></li>
		      <li><a href=<%= about_index_path %> class="nav-link px-2 text-white">About</a></li>
          <li><a href=<%= anime_index_path %> class="nav-link px-2 text-white">Animes</a></li>
        </ul>

        <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 float-right" method="post" action="http://localhost:31337/project/project1.0/result.php">
          <div class="input-group">
          <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search" name="search"/>

            <label class="input-group-text" for="searchCategory">Type</label>
            <select id="searchCategory" class="form-control form-control-dark" name="category">
              <option value="">All</option>
              <% Type.all.each do |type| %>
              <option value="<%= type.id %>"><%= type.name %></option>
              <% end %>
            </select>

          </div>
        </form>
      </div>
    </div>
</header>