<h1><%= @anime.name %></h1>
<ul>
  <li>Type: <%= @anime.type.name %></li>
  <li>Rate: <%= @anime.rating %></li>
  <li>Community Members: <%= @anime.members %></li>
  <li>Episodes: <%= @anime.episodes %></li>
  <li>Join Rating: <%= @anime.episodes %></li>
</ul>